body{
    box-sizing: border-box;
}
.lcontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.product{
    padding: 20px;
    border: 1px solid;
    display:flex;
    flex-direction: column;
    gap: 10px;
}
img{
    width: 300px;
}
